.episode-3 {

    #header {
        background-image:url("images/episodes/episode-3-header.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-3 {
    background-image:url("images/episodes/episode-3-header.jpg");

    > span {
        color: #fff;
    }
}
