.episode-1 {

    #header {
        background-image:url("images/episodes/episode-1-header.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-1 {
    background-image:url("images/episodes/episode-1-header.jpg");

    > span {
        color: #fff;
    }
}
