.episode-2 {

    #header {
        background-image:url("images/episodes/episode-2-header.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-2 {
    background-image:url("images/episodes/episode-2-header.jpg");

    > span {
        color: #fff;
    }
}
