.episode-4 {

    #header {
        background-image:url("images/episodes/episode-4-header.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-4 {
    background-image:url("images/episodes/episode-4-header.jpg");

    > span {
        color: #fff;
    }
}
