.episode-8 {

    #header {
        background-image:url("images/episodes/episode-8-header.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-8 {
    background-image:url("images/episodes/episode-8-header.jpg");

    > span {
        color: #fff;
    }
}
