.episode-7 {

    #header {
        background-image:url("images/episodes/episode-7-header-desk.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-7 {
    background-image:url("images/episodes/episode-7-header-desk.jpg");

    > span {
        color: #fff;
    }
}
