.episode-5 {

    #header {
        background-image:url("images/episodes/episode-5-header.jpg");

        .episode-title {
            color:#fff;
        }
    }
}

.episodes-5 {
    background-image:url("images/episodes/episode-5-header.jpg");

    > span {
        color: #fff;
    }
}
