.episode-3 {

    #header {
        background-image:url("images/episodes/episode-3-header-palm.jpg");
        
        @include min-screen($lap) {
            background-image:url("images/episodes/episode-3-header-lap.jpg");
        }
        
        @include min-screen($desk) {
            background-image:url("images/episodes/episode-3-header-desk.jpg");
        }
    
        .episode-title {
            color:#fff;
        }
    }
}

.episodes-3 {
    background-image:url("images/episodes/episode-3-header-palm.jpg");
    
    @include min-screen($lap) {
        background-image:url("images/episodes/episode-3-header-lap.jpg");
    }
    
    @include min-screen($desk) {
        background-image:url("images/episodes/episode-3-header-desk.jpg");
    }
    
    > span {
        color: #fff;
    }
}
