.gallery-item {
    width: 100%;
    margin-bottom: $margin;
    float: left;

    @include min-screen($lap) {
        width: 47%;
        margin: $margin-small;
        display: inline-block;
        vertical-align: top;
        float: none;
    }
}

.gallery-photo {

    img {
        width: 100%;
        height: auto;
        margin-bottom: $margin-small;
        padding: 10px;
        float: left;
        border: 1px solid #eee;
    }
}

.gallery-caption {
    width: 100%;
    display: block;
    text-align: center;
    font-size: $body-size;
}
